.footer_contact {
  height: 200px;
}

.contact {
  background-color: $color-primary-green;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    background-image: url("./../images/bg-pattern-contact-2.svg");
    width: 100px;
    height: 200px;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
  }

  &__container {
    padding-top: 0;
    display: grid;
    height: 70%;
    place-content: center;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 7rem;
    grid-gap: 2rem;
  }

  &__form {
    grid-column: span 6;
  }

  &__ask {
    display: flex;
    grid-column: span 6;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    & .list_item {
      align-items: center;
      margin-bottom: 1rem;

      & img {
        margin-right: 1rem;
      }
    }

    & h3 {
      font-size: 32px;
      line-height: 48px;
      font-weight: 700;
      padding: 1rem 0;
      margin-bottom: 1rem;
    }
  }
}

form {
  & input,
  & textarea {
    &::placeholder {
      color: white;
      font-family: "Livvic", sans-serif;
      opacity: 0.6;
      font-size: 15px;
      line-height: 25px;
      font-weight: 600;
      letter-spacing: 1px;
    }
    color: white;
    font-size: 15px;
    font-family: "Livvic", sans-serif;
    line-height: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    padding: 1.4rem 1.6rem;
    transition: all 0.5s ease;
    &:focus {
      outline: none;
      border-bottom: 1px solid #ffa580;
    }
  }

  & textarea {
    height: 7rem;
  }

  & input {
    &:valid:not(:placeholder-shown) {
      border-bottom: 1px solid $color-rapture-blue;
    }

    &:invalid:not(:placeholder-shown) {
      border-bottom: 1px solid $color-primary-coral;
    }
    &:invalid:not(:placeholder-shown) + .form__error {
      display: block;
    }
  }
}

.form__error {
  color: $color-primary-coral;
  text-align: left;
  font-size: 10px;
  display: block;
  font-weight: 700;
  font-style: italic;
  line-height: 12.55px;
  margin-top: 3px;
  display: none;
}

.btn-submit {
  margin-top: 1rem;
  color: $color-dark-green;
  background-color: #fff;
}

@media (max-width: 1150px) {
  .contact {
    height: 1200px;

    & nav {
      height: 11%;
    }

    &__form {
      grid-row: span 6;
      grid-column: span 1;
    }
    &__ask {
      grid-column: span 1;
      grid-row: span 6;
      align-items: center;

      & h1 {
        line-height: 56px;
      }

      & .list_item {
      }
    }
  }
  .contact__container {
    margin-top: 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    gap: 5rem;
  }
}

@media (max-width: 799px) {
  .footer_contact {
    height: auto;
  }
  .contact {
    & nav {
      & label {
        top: 35%;
      }
    }
  }
}

@media (max-width: 640px) {
  .contact__container {
    margin: 0;
    margin: 0 2rem;
  }

  .contact__form {
    margin-right: 2rem;
  }

  .contact__ask {
    & .list_item {
      flex-direction: row;
      align-items: center;
      text-align: left;
      align-self: start;
    }
  }
}

@media (max-width: 550px) {
  .contact__ask {
    & h1 {
      font-size: 40px;
      line-height: 40px;
    }

    & .list_item {
      margin: 0;
      margin-bottom: 1rem;
      padding: 0;
    }
  }
}
