footer {
  height: 400px;
  width: 100%;
  background-color: $color-dark-green;
}

.join {
  height: 50%;
  position: relative;
  background-color: $color-primary-coral;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-head {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: $color-dark-green;
}

.btn-footer {
  background-color: inherit;
  color: $color-dark-green;
  border-color: $color-dark-green;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: white;
    background-color: $color-dark-green;
  }
}

.join-back {
  position: absolute;
  bottom: 0;
  background-image: url(./../images/bg-pattern-home-6-about-5.svg);
  width: 200px;
  height: 144px;
  left: 0;
  background-repeat: no-repeat;
}

.foot {
  padding: 1em 0 0 0;
  display: flex;
  margin: 0 165px;
  justify-content: space-between;
  align-items: center;
}

.footer_cont {
  display: flex;
}

.footer__info {
  margin-top: 1rem;
}

.footer__nav {
  display: grid;
  margin-right: 5rem;
  margin-top: 1rem;

  & ul {
    display: flex;

    & li:first-child {
      margin-right: 40px;
    }
  }
}

.footer__info-text {
  font-size: 15px;
  line-height: 25px;
  opacity: 0.6;
}

.social__logo {
  margin-right: 5px;
  transition: all 0.5s ease;

  &:hover img {
    filter: invert(0.31) sepia(0.5) saturate(13.6) hue-rotate(305.8deg)
      brightness(1.07);
  }
}

.footer__rights {
  grid-gap: 2.5rem;
  display: grid;
  margin-top: 1rem;
}

.footer__right {
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  opacity: 0.6;
}

.social {
  place-self: flex-end;
}

@media (max-width: 1270px) {
  .footer-head {
    font-size: 32px;
    line-height: 32px;
  }
  .join-back {
    height: 120px;
  }
}

@media (max-width: 1100px) {
  .foot {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__rights {
    display: flex;
  }

  .footer_cont,
  .footer__rights {
    width: 100%;
    justify-content: space-between;
    text-align: right;
  }
}

@media (max-width: 785px) {
  .join {
    height: 200px;
  }

  footer {
    width: 100vw;
    height: auto;
  }

  .footer__nav {
    place-content: center;
    place-items: center;
    margin-right: 0;

    & img {
      margin-right: 0;
    }
  }

  .foot {
    align-items: center;
    text-align: center;
  }

  .footer_cont {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer_cont,
  .footer__rights {
    width: 100%;
    justify-content: space-between;
  }

  .footer__rights {
    display: grid;
    place-content: center;
    gap: 1rem;
    margin: 2rem 0 1rem 0;
    & .social {
      place-self: center;
    }
  }

  .footer__right {
    text-align: center;
  }
}

@media (max-width: 770px) {
  .footer-head {
    text-align: center;
    width: 320px;
  }

  .footer__info,
  .rights {
    width: 320px;
  }

  .join {
    height: 375px;
    padding: 3rem;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
