header {
  background-color: $color-primary-green;
  width: 100vw;
  height: 700px;
}
.logo {
  padding-bottom: 12px;
  margin-right: 50px;
}

nav {
  width: 80%;
  background-color: inherit;
  position: absolute;
  display: flex;
  justify-content: space-between;

  left: 50%;
  transform: translate(-50%, 50%);

  & ul {
    & li {
      margin-right: 50px;
      padding-bottom: 12px;
    }
    display: flex;

    justify-content: space-between;
  }
}

.container {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: grid;
  place-items: center;
  height: 100%;
  margin: 0 165px;
  grid-template:
    1fr /
    minmax(auto, 635px)
    minmax(auto, 445px);
  grid-gap: 30px;
}

.header__head {
  grid-row: 1/ 2;
  font-weight: 700;
  color: white;
  font-size: 100px;
  line-height: 100px;

  &:before {
    content: "";
    position: absolute;
    background-image: url("./../images/bg-pattern-home-1.svg");
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    left: 0;
    transform: translateX(-50%);
  }

  & span {
    color: $color-primary-coral;
  }
}

.content__cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 198px;
}

.btm-back {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 400px;
  height: 140px;
  background-repeat: no-repeat;
  background-image: url("./../images/bg-pattern-home-2.svg");
}
