.manage {
  background-color: $color-sacramento-green;
  position: relative;
}

.manage__content {
  display: grid;
  place-content: center;
  height: 80%;
  transform: translateY(10%);
  margin: 0 165px;
  grid-template:
    1fr /
    1fr 1fr;
  grid-gap: 135px;
}

.manage__content--construct {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;

  & .line {
    background-color: $color-primary-coral;
  }
}

.manage__tittle {
  width: 445px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
}

.manage__content--list {
  grid-column: 2 / 3;
  grid-row: 1/ -1;
  display: flex;
  flex-direction: column;
  place-content: center;
}

h3 {
  color: $color-primary-coral;
  margin-bottom: 10px;
}

.list_item {
  width: 540px;
  margin-bottom: 32px;
  display: flex;

  & img {
    margin-right: 30px;
  }

  &_data {
    display: flex;
    flex-direction: column;
  }
}

.btm-rg-back {
  position: absolute;
  bottom: 5%;
  left: 96%;
  width: 200px;
  height: 250px;
  background-repeat: no-repeat;
  background-image: url("./../images/bg-pattern-home-3.svg");
}

@media (max-width: 1200px) {
  .manage__content {
    place-items: center;
    grid-template: 1fr 1fr / 1fr;
    grid-gap: 2rem;
  }

  .manage__content--list {
    grid-row: span 1;
    grid-column: 1 /1;
  }

  .manage__tittle {
    font-size: 32px;
    line-height: 32px;
  }

  .manage__content--construct {
    justify-content: space-evenly;
    height: 150px;
    width: 540px;
  }

  .list_item_data {
    & .text {
      font-size: 15px;
      line-height: 25px;
    }

    & h3 {
      font-size: 18px;
      line-height: 28px;
    }
  }

  .btm-rg-back {
    top: 0;
    left: 92%;
  }
}
