.stories {
  background-color: $color-primary-green;
  height: 745px;
  position: relative;

  &__content {
    margin: 0 165px;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    grid-gap: 135px;
    place-items: center;
    height: 80%;
    transform: translateY(10%);
  }

  &-head {
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    font-weight: 700;

    & span {
      color: $color-rapture-blue;
    }
  }
}

.stories__container {
  display: flex;
}

.story--text {
  position: relative;
  width: 350px;
  text-align: center;
  font-size: 15px;
  line-height: 25px;
  z-index: 2;

  &:before {
    content: "";
    position: absolute;
    background-image: url("./../images/icon-quotes.svg");
    width: 70px;
    height: 60px;
    background-repeat: no-repeat;
    z-index: -1;
    left: 50%;
    top: 0;

    transform: translate(-50%, -50%);
  }
}

.story--avatar {
  width: 62px;
  height: 62px;
  margin: 22px auto;
  & img {
    width: 100%;
    height: 100%;
  }
}

.story__publisher--name {
  color: $color-rapture-blue;
  text-align: center;
  font-weight: 700;
  margin: 5px 0;
}

.story__publisher--position {
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  font-style: italic;
  margin-bottom: 10px;
}

.top-back {
  position: absolute;
  top: 0;
  background-image: url("./../images/bg-pattern-home-4-about-3.svg");
  width: 150px;
  height: 100px;
  background-repeat: no-repeat;
}

.bot-back {
  position: absolute;
  width: 200px;
  height: 100px;
  bottom: 0;
  background-repeat: no-repeat;
  right: -2%;
  background-image: url("./../images/bg-pattern-home-5.svg");
}
